@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgrey;
}

header {
    background-color: #ac1d00;
}

header > h1 {
    padding: 20px;
    text-align: center;
    color: white;
}

span#burguer {
    background-color: #740c07;
    color: #F1FFFA;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #F1FFFA;
    color: #740c07;
    
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #540804;
    color: #F1FFFA;
    border-top: 2px solid gray;
}

nav > ul > li > a:hover {
    background-color: #C2A83E;
}

main {
    width: 90vw;
    background-color: #F1FFFA;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2 {
    text-align: center;
}

article > p {
    text-align: center;
    margin-bottom: 10px;
    text-indent: 20px;
}